.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc

terraform/keys/
terraform/*.zip
terraform/sintegre-plan/
